# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.

version: '3.4'

services:
  sqldata:
    image: mcr.microsoft.com/mssql/server:2019-latest 
    environment: 
        ACCEPT_EULA: "Y"
        SA_PASSWORD: "Pa55w0rd2021"
        MSSQL_PID: Express
    ports: 
        - "1433:1433"

  nerdstorecatalogoapi:
    image: nerdstorecatalogoapi
    build:
      context: .
      dockerfile: src/Services/Catalogo/NerdStore.Catalogo.Api/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development      
        - ASPNETCORE_URLS=http://0.0.0.0:5000
    ports:
      - 5000:5000
    depends_on:
      - sqldata  

  nerdstorevendasapi:
    image: nerdstorevendasapi
    build:
      context: .
      dockerfile: src/Services/Vendas/NerdStore.Vendas.Api/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development      
        - ASPNETCORE_URLS=http://0.0.0.0:5002
    ports:
      - 5002:5002
    depends_on:
      - sqldata  
    