
    <div class="uk-card uk-card-hover uk-card-default uk-margin-small-bottom">          
        <div class="uk-card-body">
            <div class="uk-card-media-top">
                <img src="../../../assets/imagens/{{produto.imagem}}" class="uk-margin-small-top" width="150" height="150">
            </div>                
            <h3 class="uk-margin-small-top uk-margin-small-bottom">{{produto.nome}}</h3>                
            <small>{{produto.quantidadeEstoque}} em estoque</small>
            <br>
            <small>{{produto.descricao}}</small>
            <p class="preco-produto">{{ produto.valor | currency: 'BRL' }}</p>
        </div>
         
        <div class="uk-card-footer">                     
            <div class="uk-flex uk-flex-center">
                <button class="uk-button uk-button-small uk-button-default ">Editar</button>
                <button class="uk-button uk-button-small uk-button-secondary ">Estoque</button>
            </div>                                                                              
        </div>
    </div>

