
    <div class="uk-card uk-card-default uk-margin-small-bottom">          
        <div class="uk-card-body">
            <div class="uk-card-media-top">
                <img src="https://via.placeholder.com/200" width="200" height="200">
            </div>                
            <h3 class="uk-margin-small-top uk-margin-small-bottom">Camiseta Teste Leonardo</h3>                
            <small>10 em estoque</small>
            <br>
            <small>Descricao da camiseta teste</small>
            <p class="preco-produto">R$ 60,00</p>
        </div>
         
        <div class="uk-card-footer">                     
            <div class="uk-flex-inline">
                <button class="uk-button uk-button-default ">Editar</button>
                <button class="uk-button uk-button-secondary ">Estoque</button>
            </div>                                                                              
        </div>
    </div>

