<div class="uk-container" >
    <h2>Editar Produto</h2>
    <hr>

    <form >
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small">
          
            <div class="uk-margin">                
                <select class="uk-select uk-width-1-2@l uk-width-1-1@s">
                    <option>Categoria 1</option>
                    <option>Categoria 2</option>
                </select>
            </div>         

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="text" placeholder="Nome">
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="text" placeholder="Descricao">
            </div>


            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox " type="checkbox" checked> Ativo</label>                
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="text" placeholder="Valor">
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="text" placeholder="Imagem">
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="number" placeholder="Altura">
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="number" placeholder="Largura">
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="number" placeholder="Profundidade">
            </div>


            <div class="uk-margin">
                <button class="uk-button uk-button-default">Voltar</button>
                <button class="uk-button uk-button-default">Atualizar</button>
            </div>
        </div>
    </form>

</div>
        

      
      