<div class="uk-container" >

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left">
            <img src="../../../assets/imagens/camiseta1.jpg" width="500" height="400" >            
        </div>
        <div>
            <div class="uk-card-body">
                <h2 class=""> <b>{{produto.nome}}</b> </h2>
                <h2>{{ produto.valor | currency: 'BRL' }}</h2>
                <p>Apenas {{produto.quantidadeEstoque}} em estoque</p>                
                <p>{{produto.descricao}}</p>

                <form [formGroup]="form">
                    
                    <div class="uk-margin">                        
                        <input class="uk-input uk-width-1-2@l uk-width-1-1@s" type="number"
                        formControlName="quantidadeEstoque">
                    </div>

                    <input hidden formControlName="id" />
                    <div class="uk-margin">                        
                        <button [disabled]="form.invalid" class="uk-button uk-button-default" (click)="atualizaEstoque()" >Atualizar Estoque</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
       
</div>
        

      
      