<div class="uk-container" >
    <h2>Catálogo</h2>
    <hr>    

    <div class="uk-grid uk-margin-small-top ">       
         
        <div class="uk-width-1-4@m uk-width-1-2@s" *ngFor="let produto of produtos$ | async">
            
            <div class="uk-card uk-card-hover uk-card-default uk-margin-small-bottom">          
                <div class="uk-card-body uk-text-center ">
                    <div class="uk-card-media-top ">
                        <img src="../../../assets/imagens/{{produto.imagem}}" class="uk-margin-small-top" width="200" height="200">
                    </div>                
                    <h4 class="uk-margin-small-top uk-margin-small-bottom">{{produto.nome}}</h4>                
                    <small>{{produto.quantidadeEstoque}} em estoque</small>
                    <br>
                    <small>{{produto.descricao}}</small>
                    <p class="preco-produto">{{ produto.valor | currency: 'BRL' }}</p>
                </div>
                
                <div class="uk-card-footer">                     
                    <div class="uk-flex uk-flex-center">
                        <button class="uk-button uk-button-small botao-carrinho" 
                        [disabled]="!PossuiEstoque(produto)" (click)="AdicionarAoCarrinho(produto)" >
                        <span uk-icon="cart">                            
                        </span> Adicionar ao carrinho</button>                
                    </div>                                                                              
                </div>
            </div>

        </div>                        
    </div>         
</div>

